#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1200px;
  width: 100%;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

h1 {
  color: yellow;
}

.teams {
  display: flex;
  flex-direction: column;
}